.hidden-left{
    opacity: 0;
    filter: blur(5px);
    transform:translateX(-50%);
    transition: all 1s;
}
.show-left{
    opacity: 1;
    filter: blur(0);
    transform:translateX(0);
}
.hidden-up{
    opacity: 0;
    filter: blur(5px);
    transform:translateY(50%);
    transition: all 1s;
}
.show-up{
    opacity: 1;
    filter: blur(0);
    transform:translateX(0);
}
@media(prefer-redused-motion){
    .hidden-left,.hidden-up{
        transition: none;
    }
}

.galPreImg:nth-child(2){
    transition-delay: 200ms;
}
.galPreImg:nth-child(3){
    transition-delay: 400ms;
}