/*Style code related to home page of the site.*/

.welcome {
	color: rgb(40, 40, 40);
	width: 95%;
	margin: 15px;
	margin-bottom: 1px;
}

.wrapper {
	width: 23%;
	margin-right: 1%;
	margin-top: 10px;
	padding: 20px;
	border-radius: 5px;
	background-color: #00a6ff8b;
}

.wrapper li {
	background-color: rgba(40, 40, 40, 0.549);
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
}

.notice a {
	text-decoration: none;
	color: whitesmoke;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reachUs{
	background-color: rgba(255, 218, 185, 0.27);
	color: rgb(40, 40, 40);
	padding: 15px;
}
.reachUsAll{
	display: flex;
	padding: 20px;
	justify-content: space-around;
	flex-wrap: wrap;
}
.map iframe{
	width: 600px;
	height: 300px;
	border-radius: 3px;
}
.details{
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	width: 40%;
	border: 2px solid rgba(53, 53, 53, 0.355);
	border-radius: 5px;
}
.details a{
	text-decoration: none;
	color: rgb(40, 40, 40);
}
.details i{
	background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.details p{
	width: 70%;
	display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 75%;
	background-color: rgba(255, 218, 185, 0.27);
	padding: 10px;
}

.welContent {
	margin: 10px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.btn {
	text-decoration: none;
	background-color: #00a7ff;
	border: 10px white;
	color: white;
	font-size: 18px;
	padding: 5px;
	border-radius: 3px;
}

.btn:hover {
	background-color: #0093e3;
}

.movingtext {
	background-color: #00a7ff;
	color: white;
	font-size: 18px;
	padding: 5px;
	text-align: left;
}

.mail {
	text-decoration: none;
	color: white;
}


.slider {
	position: relative;
	width: 100%;
	background: #2c3e50;
	margin-top: 54px;
	/* darckblue */
}

.myslide {
	height: 655px;
	display: none;
	overflow: hidden;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}

.prev:hover,
.next:hover {
	color: #00a7ff;
	/* blue */
}

.next {
	right: 0;
}

.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}

.dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

/* javascript */
.active,
.dot:hover {
	border-color: #00a7ff;
	/* blue */
}

/* /javascript */

/* muslide add fade */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: 0.8
	}

	to {
		opacity: 1
	}
}

/* /muslide add fade */

.txt {
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
	-webkit-animation-duration: 2s;
	animation-name: posi;
	animation-duration: 2s;
	z-index: 1;

	background-color: rgba(40, 40, 40, 0.549);
	padding: 20px;
	border-radius: 5px;

	/*
	text-shadow: 0 1px 0 rgb(65, 65, 65), 
	               0 2px 0 #484848,
	               0 3px 0 rgb(63, 63, 63),
	               0 4px 0 #313131,
	               0 5px 0 rgb(48, 48, 48),
	               0 6px 1px rgba(0,0,0,.1),
	               0 0 5px rgba(0,0,0,.1),
	               0 1px 3px rgba(0,0,0,.3),
	               0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.25),
	               0 10px 10px rgba(0,0,0,.2),
	               0 20px 20px rgba(0,0,0,.15);*/
	
	
}

@-webkit-keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 15%;
	}
}


@keyframes posi {
	from {
		left: 25%;
	}

	to {
		left: 15%;
	}
}

.txt h1 {
	color: #00a7ff;
	/* blue */
	font-size: 50px;
	margin-bottom: 20px;
}

.txt p {
	font-weight: bold;
	font-size: 20px;
}

.containt {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	align-content: space-between;
}

.deskImg {
	width: 350px;
	height: 180px;
	border-radius: 5px;
}

.wordings h3 {
	margin-top: 30px;
}

.principalDesk {
	width: 95%;
	padding: 10px;
	background-color: #00a6ff8b;
	border-radius: 5px;
	color: rgb(36, 36, 36);
}

.underline {
	width: 150px;
	height: 6px;
	border-radius: 10px;
	background-color: rgb(36, 36, 36);
	margin: 10px;
}

.u {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
}

.slideImg {
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 40s;
	animation-name: zoomin;
	animation-duration: 40s;
}

.wordings {
	width: 60%;
	height: 100%;
}

.wordings h3 {
	bottom: 0%;
}

.gallery{
	background-color: #00a6ff8b;
	margin: 12px;
	color: rgb(36, 36, 36);
	padding: 15px;
	border-radius: 5px;
}

.gallery a{
	text-decoration: none;
	float: right;
	color: #27c0f5;
	border-color: rgb(36, 36, 36);
	line-height: 30px;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(36, 36, 36);
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	transition: all .5s;
}
.gallery .images{
	margin: 5px;
	margin-bottom: 0%;
}
.section{
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.section img{
	width: 30%;
	height: 27vh;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 0 8px 15px rgba(0,0,0,.5);
	transition: all 1s;
}
/*.section img:hover {
	position:absolute;
	width:auto;
	height: fit-content;
	box-shadow: 50px 50px 50px rgba(0,0,0,.5);
  	transform:translateY(-20px);
}*/
.gallery a:hover{
	background-color: #18212b;
	color: white;
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
  	transform:translateY(-3px);
}
.gTitle{
	margin-bottom: 12px;
}
.gaTiText{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
}
.gTitle h2{
	width: fit-content;
}


@-webkit-keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.5, 1.5);
	}
}


@keyframes zoomin {
	from {
		transform: scale(1, 1);
	}

	to {
		transform: scale(1.5, 1.5);
	}
}
@media screen and (max-width: 1450px) {
	.wordings{
		width: 50%;
	}
}
@media screen and (max-width: 1150px) {
	.deskImg {
		width: 300px;
		height: 180px;
	}
	.map iframe{
		width: 500px;
	} 
}

@media screen and (max-width: 950px) {
	.map iframe{
		width: 700px;
	} 
	.details{
		width: 700px;
	}
	.section img{
		width: 85%;
		height: 25vh;
	}
	.main {
		justify-content: center;
	}

	.container {
		max-width: 100%;
	}

	.wrapper {
		width: 98%;
		margin-right: 0%;
	}
}

@media screen and (max-width: 800px) {
	.map iframe{
		width: 550px;
	} 
	.details{
		width: 550px;
	}
	.section img{
		width: 95%;
		height: 25vh;
	}
	.myslide {
		height: 500px;
	}

	.wordings {
		width: 98%;
	}

	.txt {
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 50%;
		}
	}


	@keyframes posi2 {
		from {
			top: 35%;
		}

		to {
			top: 50%;
		}
	}

	.txt h1 {
		font-size: 40px;
	}

	.txt p {
		font-size: 13px;
	}

}
@media screen and (max-width: 670px) {
	.map iframe{
		width: 450px;
	} 
	.details{
		width: 450px;
	}
	.gaTiText{
		font-size: 23px;
	}
	.gallery a{
		font-size: 12px;
	}
	.section img{
		width: 98%;
		height: 20vh;
	}
	.myslide{
		height: 440px;
	}
	.txt h1{
		font-size: 35px;
	}
}

@media screen and (max-width: 520px) {
	.map iframe{
		width: 300px;
	} 
	.details{
		width: 90%;
	}
	.wordings h3 {
		font-size: 15px;
	}

	.welContent a {
		font-size: 15px;
	}

	.myslide {
		height: 380px;
	}

	.txt h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}

}
@media screen and (max-width: 460px) {
	.reachUsAll{
		padding: 3px;
	}
	.map iframe{
		width: 270px;
		height: 170px;
	} 
	.details{
		width: 98%;
	}
	.myslide{
		height: 310px;
	}
	.gallery .images{
		margin: 5px;
	}
}
@media screen and (max-width: 400px) {
	
	.wordings h3 {
		font-size: 12px;
	}

	.myslide {
		height: 280px;
	}

	.txt h1 {
		font-size: 25px;
		margin-bottom: 12px;
	}

	

	.dot {
		width: 12px;
		height: 12px;
	}

	.deskImg {
		width: 98%;
	}
}
@media screen and (max-width: 280px) {
	.gTitle{
		margin-bottom: 25px;
	}
	.gaTiText{
		font-size: 18px;
	}
	.gallery a{
		font-size: 9px;
		padding: 2px;
		padding-left: 5px;
		padding-right: 5px;
	}
	
}


